body{
	overflow-y:scroll;
	overflow-x:hidden;
}
footer {
	overflow:hidden;
}
#sticky {
	margin-top:20px;
  width:100%;
  padding:10px;
  background:#EF0107;
  color:white;
  font-weight:bold;
  font-size:18px;
  text-align:center;
  position:relative;
  float:left;
}
footer img{
	float:right;
	position:relative;
	width:10%;
margin-right:3%;	
}
#sticky p{
	float:left;
}

@media screen and (max-width:767px){
	footer img{
		margin-right:40%;
		width:20%;
	}
	#sticky p{
		margin-left:20%;
	}
}